@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.about {
    margin-top: 3%;
    position: relative;
    padding: 0 3.5%;
    &__banner {
        border-radius: 25px;
        width: 100%;
        object-fit: cover;
        filter: brightness(70%);
        @include mobile-only {
            height: 250px;
        }
    }
    &__accordeon {
        width: 80%;
        margin: 0 10%;
        @include mobile-only {
            width: 100%;
            margin: 0;
        }
    }
}