@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.details {
    padding: 0 3.5%;
    &__containerImage {
        position: relative;
        &--img {
            width: 100%;
            object-fit: cover;
            height: 40vh;
            border-radius: 25px;
            display: block;
        }
        &--chevronleft {
            position: absolute;
            left: 1%;
            bottom: 0;
            top: 0;
            margin-top: auto;
            margin-bottom: auto;
            color: white;
            cursor: pointer;
        }
        &--chevronRight {
            position: absolute;
            right: 1%;
            bottom: 0;
            top: 0;
            margin-top: auto;
            margin-bottom: auto;
            color: white;
            cursor: pointer;
        }
        &--counter {
            position: absolute;
            bottom: 1%;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            color: white;
            text-align: center;
            font-weight: 500;
            font-size: 18px;
        }
    }
    &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include mobile-only {
            flex-direction: column;
        }
        &--right {
            margin-top: 2em;
            @include mobile-only {
                display: flex;
                flex-direction: row-reverse;
                margin-top: 0.5em;
                justify-content: space-between;
                text-align: center;
            }
        }
        &--nameAndImage {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            margin-right: 0;
        }
        &--rating {
            margin-top: 1.5em;
            @include mobile-only {
                margin-top: 0.8em;
            }
        }
        &--name {
            color: #FF6060;
            padding-right: 1em;
        }
        &--image {
            border-radius: 90px;
            width: 64px;
            height: 64px;
            justify-content: end;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 36px;
        color: #FF6060;
        margin-bottom: 0;
    }
    &__location {
        font-weight: 500;
        font-size: 18px;
        color: #FF6060;
        margin-top: 0.5em;
    }
    &__tags {
        display: flex;
        flex-direction: row;
        &--item {
            background-color: #FF6060;
            color: white;
            border-radius: 10px;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            padding: 0.5em 2em;
            margin-right: 1.5em;
        }
    }
    &__accordeon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include mobile-only {
            flex-direction: column;
            justify-content: center;
        }
        &--both {
            width: 47%;
            @include mobile-only {
                width: 100%;
            }
        }
        &--item {
            margin-top: 0em;
            margin-bottom: 0em;
        }
    }
}