@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 3.5%;
    &__logo {
        display: inline-block;
        &--img {
            @include mobile-only {
                width: 70%;
                height: 70%;
            }
        }
    }
        &__nav {
            list-style: none;
            display: flex;
            @include mobile-only {
                padding-left: 0px;
                white-space: nowrap;
            }
            &--item {
                margin: 0 25px;
                font-weight: 500;
                font-size: 24px;
                @include mobile-only {
                    font-size: 12px;
                    margin: 0 25px;
                }
            }
            &--home {
                color: #FF6060;
                text-decoration: none;
            }
            &--about {
                color: #FF6060;
                text-decoration: none;
            }
        }
}