.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 3.5%;
    &__logo {
        display: inline-block;
    }
        &__nav {
            list-style: none;
            display: flex;
            &--item {
                margin: 0 25px;
            }
            &--home {
                color: #FF6060;
                text-decoration: none;
            }
            &--about {
                color: #FF6060;
                text-decoration: none;
            }
        }
}